@import 'colors';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 400;
  color: $textDark;
}

body {
  font-family: 'Rubik', sans-serif;
  background: $background;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.generalH1 {
  font-size: 2.2rem;
  font-weight: 500;
  align-self: center;
  margin-top: 3em;
  width: 92%;
  text-align: center;
}

.generalH2 {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 1em;
  margin-top: 1em;
}

.generalH3 {
  font-size: 1.3rem;
  font-weight: 500;
  margin-bottom: 0.3em;
}

/*   ------   NAVBAR   ------   */

nav {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 60px;
  background: $white;
  align-items: center;
  justify-content: flex-end;
  padding: 0 5%;
  box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.04);
  z-index: 2;

  .logoA {
    margin-right: auto;

    .logo {
      width: 56px;
    }
  }

  .mainA {
    font-size: 1.1rem;
    font-weight: 500;
    text-decoration: none;
    padding: .7em;
    margin-right: 1.8em;

    &:hover {
      color: $textDarkHover;
      transition: .2s;
    }

    @media screen and (max-width: 660px) {
      display: none;
    }
  }

  .secondaryA {
    font-weight: 500;
    font-size: .95rem;
    text-decoration: none;
    padding: .7em;
    margin-left: .5em;
    color: $buttonPurple;

    &:hover {
      color: $buttonPurpleHover;
      transition: .2s;
    }

    @media screen and (max-width: 660px) {
      display: none;
    }
  }

  .hamburger {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    .burgerLines {
      display: block;
      position: relative;
      width: 35px;
      height: 3px;
      background: $textDark;
      transition: .3s;

      &::before {
        content: '';
        width: 35px;
        height: 3px;
        background: $textDark;
        position: absolute;
        top: -11px;
        left: 0px;
        transition: .3s;
      }

      &::after {
        content: '';
        width: 35px;
        height: 3px;
        background: $textDark;
        position: absolute;
        bottom: -11px;
        left: 0px;
        transition: .3s;
      }
    }

    .hamOpen {
      background: transparent;
      transition: .3s;

      &::before {
        top: 0px;
        transform: rotate(45deg);
        transition: .3s;
      }

      &::after {
        bottom: 0px;
        transform: rotate(-45deg);
        transition: .3s;
      }
    }

    &:hover {
      cursor: pointer;
    }

    @media screen and (min-width: 661px) {
      display: none;
    }
  }

  .mobileNavContainer {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    position: fixed;
    top: 60px;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $white;
    padding: 1em;
    transition: .3s;

    .mainAPhone {
      display: block;
      font-size: 1.1rem;
      font-weight: 500;
      text-decoration: none;
      padding: .7em;
      width: 100%;
      text-align: center;
      margin-bottom: 1em;

      &:hover {
        color: $textDarkHover;
        transition: .2s;
      }
    }

    .secondaryAPhone {
      display: block;
      width: 100%;
      text-align: center;
      font-weight: 500;
      font-size: .95rem;
      text-decoration: none;
      padding: .7em;
      margin-left: .5em;
      color: $buttonPurple;

      &:hover {
        color: $buttonPurpleHover;
        transition: .2s;
      }
    }

    @media screen and (min-width: 661px) {
      display: none;
    }
  }

  .navContMActive {
    opacity: 1;
    pointer-events: all;
    transition: .3s;
  }
}

/*   ------   FOOTER   ------   */

footer {
  // width: 100%;
  // background: $sidenavBlue;
  // display: flex;
  // align-items: center;
  // padding: 1em 15%;
  // padding-top: 3em;
  width: 100%;
  background: $sidenavBlue;
  padding: 1em;

  .upperFooter {
    width: 100%;
    display: flex;
    padding: 0 15%;
    margin-bottom: 1.4em;

    @media screen and (max-width: 1400px) {
      padding: 0 10%;
    }
    @media screen and (max-width: 1200px) {
      padding: 0 5%;
    }
    @media screen and (max-width: 1000px) {
      padding: 0;
    }
    @media screen and (max-width: 690px) {
      flex-direction: column;
    }
  }

  .mrFooter {
    margin-right: 5em;

    @media screen and (max-width: 690px) {
      margin-right: 0;
      margin-bottom: 1em;
    }
  }

  .footerOut {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .regFP {
      color: $textLight;
      margin-bottom: .5em;
    }

    .centerText {
      text-align: center;
    }

    .flagImg {
      width: 100px;
      margin-bottom: .8em;
    }

    @media screen and (max-width: 690px) {
      width: 100%;
    }
  }

  .footerIn {
    width: 420px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    margin: auto;

    .footerA {
      color: $textLight;
      padding: .4em;
      margin: 0 .4em;

      &:hover {
        color: $white;
      }
    }

    @media screen and (max-width: 550px) {
      width: 295px;
    }
    @media screen and (max-width:390px) {
      width: 150px;
      flex-direction: column;
      align-items: center;
    }
  }
}

/*   ------   HOMEPAGE   ------   */

.coverImg {
  position: fixed;
  top: 60px;
  z-index: -1;
  left: 0;
  background: url('/images/coverImg.jpg');
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
}

.pageContentContainer {
  margin-top: 560px;
  background: $background;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .whatContainer {
    display: flex;
    width: 95%;
    max-width: 1200px;
    align-self: center;
    margin-top: 3em;
    margin-bottom: 12em;

    .whatPs {
      margin-right: 5em;

      .whatP {
        margin-bottom: .8em;
      }

      @media screen and (max-width: 810px) {
        margin-right: 0;
        margin-bottom: 5em;
      }
    }

    .whatIll {
      width: 450px;

      @media screen and (max-width: 1185px) {
        width: 400px;
      }
      @media screen and (max-width: 1000px) {
        width: 350px;
      }
      @media screen and (max-width: 425px) {
        width: 250px;
      }
    }

    @media screen and (max-width: 810px) {
      flex-direction: column;
      align-items: center;
    }
  }

  .cardContainer {
    width: 95%;
    max-width: 1200px;
    margin-bottom: 2.5em;
    box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.03);
    border-radius: 5px;
    display: flex;
    padding: 3em;
    align-items: center;
    background: white;

    .cardLeft {
      margin-right: 3em;

      .cardBtn {
        border-radius: 5px;
        background: $buttonPurple;
        color: $white;
        font-size: .9rem;
        padding: .5em 1.1em;
        border: transparent;
        margin-top: 1.6em;

        &:hover {
          background: $buttonPurpleHover;
          cursor: pointer;
          transition: .2s;
        }
      }

      @media screen and (max-width: 810px) {
        margin-right: 0;
      }
    }

    .cardImg {
      width: 300px;

      @media screen and (max-width: 810px) {
        display: none;
      }
    }

    @media screen and (max-width: 425px) {
      padding: 1.8em;
    }
  }

  .userCards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3em;
    margin-bottom: 6em;
    width: 95%;
    max-width: 1200px;

    .userCard {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 2rem;
      box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.03);
      border-radius: 5px;
      background: white;
      margin-right: 2em;
      width: calc(33.333% - 1.34em);
      margin-bottom: 2em;

      .ucImg {
        border-radius: 50%;
        width: 80px;
        margin-bottom: 1em;
      }

      .ucName {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: .2em;
      }

      .ucLinks {
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 1.6em;

        .ucLi {
          margin: 0;
          margin-bottom: .65em;

          .ucA {
            background: $buttonPurple;
            color: white;
            font-size: .85rem;
            padding: .12em .35em;
            margin: 0 .4em;
            text-decoration: none;
            border-radius: 3px;

            &:hover {
              background: $buttonPurpleHover;
              transition: .2s;
            }
          }
        }
      }

      &:nth-child(3n), &:nth-child(7) {
        margin-right: 0;
      }

      @media screen and (max-width: 1000px) {
        width: calc(50% - 2em);

        &:nth-child(3n) {
          margin-right: 2em;
        }
        
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @media screen and (max-width: 690px) {
        width: 100%;
        margin-right: 0;

        &:nth-child(3) {
          margin-right: 0;
        }
      }
    }
  }
}

/*   ------   PRIVACY   ------   */

.bolded {
  display: inline;
  font-weight:500;
}

li {
  margin-left: 35px;
  margin-bottom: 3px;
}

.section-description {
  text-align: center;
  width: 80%;
  margin-bottom: 25px;
  margin-top: 15px;
  font-size: 17px;
}

.section-description-a {
  font-size: 17px;
}

.remove-bottom-margin {
  margin-bottom: 0;
}

.align-text-to-center {
  text-align: center;
}