{{!-- TODO:
Make this page mobile responsive. --}}
<nav>
  <a href="#" class="logoA">
    <img src="/images/mesocLogoBlue.png" alt="mesoc toolkit application logo" class="logo">
  </a>
  <a href="http://localhost:3000/browse" class="mainA">Browse</a>
  <a href="http://localhost:3000/sign-in" class="secondaryA">Sign in</a>
  <a href="http://localhost:3000/create-account" class="secondaryA">Create account</a>

  <div class="hamburger" onclick="openMobileNav()">
    <span class="burgerLines"></span>
  </div>

  <div class="mobileNavContainer">
    <a href="http://localhost:3000/browse" class="mainAPhone">Browse</a>
    <a href="http://localhost:3000/sign-in" class="secondaryAPhone">Sign in</a>
    <a href="http://localhost:3000/create-account" class="secondaryAPhone">Create account</a>
  </div>
</nav>

<script src="/js/burgerManager.js"></script>