<nav>
  <a href="#" class="logoA">
    <img src="/images/mesocLogoBlue.png" alt="mesoc toolkit application logo" class="logo">
  </a>
  <a href="http://localhost:3000/browse" class="mainA">Browse</a>
  <a href="http://localhost:3000/sign-in" class="secondaryA">Sign in</a>
  <a href="http://localhost:3000/create-account" class="secondaryA">Create account</a>
</nav>