{{> nabvar}}

<div class="coverImg"></div>

<div class="pageContentContainer">
  <h1 class="generalH1">What is MESOC toolkit application?</h1>
  <div class="whatContainer">
    <div class="whatPs">
      <p class="whatP">MESOC Toolkit is a georeferenced visualization tool for assessing the value and impacts of cultural policies and practices. It assesses the performance of European regions and cities under the perspective of societal value creation and the impact transmission mechanisms of observed cultural policies and practices according to MESOC matrix. The MESOC matrix cross-references cultural domains (introduced by the EUROSTAT) against the three pillars of the structural model. Ten cultural domains are Heritage, Archives, Libraries, Book and Press, Visual Arts, Performing Arts, Audiovisual and Multimedia, Architecture, Advertising and Art crafts. Three pillars of the structural model stem from three crossover themes of the new European Agenda for Culture: Health and Wellbeing, Urban and Territorial Renovation and People’s Engagement and Participation. In each of 30 cells of MESOC matrix (at the intersection between rows and columns), we analyze possible transition variables. The transition variable establishes the mechanism to measure the transition or impact generation and transmission pathways associated to each of ten cultural domains. The MESOC map georeferences two types of documents: pilot (marked red) and scientific (marked blue) studies.</p>
    </div>
    <img src="/images/undraw_data_processing_yrrv.svg" alt="illustration of MESOC application collecting and processing documents" class="whatIll">
  </div>

  <div class="cardContainer">
    <div class="cardLeft">
      <h2 class="generalH2">Browse results from all over the Europe</h2>
      <p>Additionally, MESOC Toolkit enables the semantic search of the pilot and scientific studies.
First, it recommends similar documents nested into the same cell of the MESOC matrix.
Second, it analyzes documents according to the semantics of transitional variables and recommends the set of relevant variables for the current analysis.</p>
<p>Third, the semantic search can explain why a specific variable is inferred for the analyzed document, according to the MESOC knowledge representation model.</p>
      <a href="{{webApp}}/browse" target="_blank"><button class="cardBtn">Browse</button></a>
    </div>
    <img src="/images/undraw_windows_q9m0.svg" alt="illustration of multiple MESOC screens" class="cardImg">
  </div>
  <div class="cardContainer">
    <div class="cardLeft">
      <h2 class="generalH2">Submit your own files for analysis</h2>
      <p>In the MESOC Toolkit user can upload his documents in .txt or .pdf format. The documents written in the English language are analyzed in the original form, while other languages will be translated into English by statistical machine translation service. For each document, user specifies the location for georeferencing of his document.</p>
      <a href="{{webApp}}/create-account" target="_blank"><button class="cardBtn">Create account</button></a>
    </div>
    <img src="/images/undraw_uploading_go67.svg" alt="illustration of multiple MESOC screens" class="cardImg">
  </div>

  <h1 class="generalH1">Development team</h1>
  <div class="userCards">

    {{!-- TODO:
    Update links when everyone submit.
    PKB is critical -> none submited --}}
    <div class="userCard">
      <img src="/images/profile_BozidarKovacic.jpg" alt="Božidar Kovačić" class="ucImg">
      <span class="ucName">Božidar Kovačić</span>
      <p class="ucRoles">Work Package Leader</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="https://portal.uniri.hr/portfelj/1506" class="ucA">UNIRI portfolio</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/bo%C5%BEidar-kova%C4%8Di%C4%87-96275118/" class="ucA">LinkedIn</a></li>
      </ul>
    </div>
    <div class="userCard">
      <img src="/images/profile_SandaMartincicIpsic.jpg" alt="Sanda Martinčić - Ipšić" class="ucImg">
      <span class="ucName">Sanda Martinčić - Ipšić</span>
      <p class="ucRoles">Principal Investigator</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="http://portal.uniri.hr/Portfelj/761" class="ucA">UNIRI portfolio</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/sandamartincic/" class="ucA">LinkedIn</a></li>
        <li class="ucLi"><a target="_blank" href="http://langnet.uniri.hr/" class="ucA">Website</a></li>
      </ul>
    </div>
    <div class="userCard">
      <img src="/images/profile_AntoCabraja.jpg" alt="Anto Čabraja" class="ucImg">
      <span class="ucName">Anto Čabraja</span>
      <p class="ucRoles">Technical Supervisor</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="https://github.com/acabraja" class="ucA">Github</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/antocabraja/" class="ucA">LinkedIn</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.qedcode.net/" class="ucA">Website</a></li>
        <li class="ucLi"><a target="_blank" href="https://twitter.com/anto_cabraja" class="ucA">Twitter</a></li>
      </ul>
    </div>
    <div class="userCard">
      <img src="/images/profile_PetarKristijanBogovic.jpg" alt="Petar Kristijan Bogović" class="ucImg">
      <span class="ucName">Petar Kristijan Bogović</span>
      <p class="ucRoles">Backend Developer, NLP</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/pkbogovic/" class="ucA">LinkedIn</a></li>
      </ul>
    </div>
    <div class="userCard">
      <img src="/images/profile_DinoAljevic.jpg" alt="Dino Aljević" class="ucImg">
      <span class="ucName">Dino Aljević</span>
      <p class="ucRoles">Backend Developer</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="https://github.com/dino8890" class="ucA">Github</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/daljevic/" class="ucA">LinkedIn</a></li>
      </ul>
    </div>
    <div class="userCard">
      <img src="/images/profile_ValentinKuharic.jpg" alt="Valentin Kuharić" class="ucImg">
      <span class="ucName">Valentin Kuharić</span>
      <p class="ucRoles">Frontend Developer</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="https://github.com/Valentin331" class="ucA">Github</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/valentin-kuharic-4468a81a4/" class="ucA">LinkedIn</a></li>
        <li class="ucLi"><a target="_blank" href="https://mercurydigitall.com/" class="ucA">Website</a></li>
      </ul>
    </div>
    <div class="userCard">
      <img src="/images/profile_ErikJermanis.jpg" alt="Erik Jermaniš" class="ucImg">
      <span class="ucName">Erik Jermaniš</span>
      <p class="ucRoles">Frontend Developer</p>
      <ul class="ucLinks">
        <li class="ucLi"><a target="_blank" href="https://github.com/ErikJermanis" class="ucA">Github</a></li>
        <li class="ucLi"><a target="_blank" href="https://www.linkedin.com/in/erik-jermanis/" class="ucA">LinkedIn</a></li>
        <li class="ucLi"><a target="_blank" href="https://mercurydigitall.com/" class="ucA">Website</a></li>
      </ul>
    </div>

  </div>

</div>

{{> footer}}